<h1>Resque FIFO Managed Queues version: <%= Resque::Plugins::Fifo::Queue::VERSION %></h1>
<% if @refresh_requested %>
<p class="intro">
  Updating worker list... Refresh to view updates.
</p>
<% end %>
<p class="intro">
  This page displays statistics about available FIFO Managed Queues and its partitioning information.
</p>
<form method="POST" action="<%=u "/shared_finder" %>" >
  <label for="key">Key</label>
  <input id="key" type='text' name='key'/>
  <input type='submit' name='' value='Find Shard' />
</form>
<h1>Pending Queue Information</h1>
<p> This queue contains, jobs that are to be resharded</p>
<table>
  <thead>
    <th>Queue Name</th>
    <th>Stored Jobs</th>
  </thead>
  <tbody>
    <tr>
      <td><a class="queue" href="<%= u "queues/#{@manager.pending_queue_name}" %>"><%= @manager.pending_queue_name %></a></td>
      <td><%= @manager.pending_total %></td>
  </tbody>
</table>
<h1 class='wi'> <%= @queue_with_slices.size %> worker instances</h1>
<form method="POST" action="<%=u "/request_update" %>" >
  <input type='submit' name='' value='Request Force Update' />
</form>
<table>
  <thead>
    <th>Slice (0 -- <%= 2**32 %>)</th>
    <th>Queue Name</th>
    <th>Worker Host</th>
    <th>Status</th>
    <th>Started</th>
    <th>Heartbeat</th>
    <th>Assigned</th>
    <th>Queued</th>
  </thead>
  <tbody>
    <% @queue_with_slices.each do |slice_info| %>
      <tr>
        <td>#<%= slice_info[0] %></td>
        <td><a class="queue" href="<%= u "queues/#{slice_info[1]}" %>"><%= slice_info[1] %></a></td>
        <td><a href="<%=u "workers/#{slice_info[2]}"%>"><%= slice_info[2] %>:<%= slice_info[3] %></a></td>
        <td><%= slice_info[4] %></td>
        <td><%= slice_info[5] %></td>
        <td><%= slice_info[6] %></td>
        <td><%= slice_info[7] %></td>
        <td><%= slice_info[8] %></td>
      </tr>
    <% end %>
    <tr></tr>
  </tbody>
</table>
<% if @orphaned_queues.size > 0 %>
  <h1 class="wi">Orphaned Queues</h1>
  <table>
    <thead>
      <th>Queue Name</th>
    </thead>
    <tbody>
      <% @orphaned_queues.each do |queue| %>
        <tr>
          <td><a class="queue" href="<%= u "queues/#{queue}" %>"><%= queue %></a></td>
        </tr>
      <% end %>
      <tr></tr>
    </tbody>
  </table>
<% end %>
<%= poll %>
